<a href="https://colab.research.google.com/github/Ssahu620/ss-Capstone-Project/blob/main/062025_ss_cp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df_2025 = pd.read_csv('data/ss_2025_7H_Consol.csv')
df_2025.head()
df_2025.info()
df_2025.shape

/tmp/ipython-input-5-2686906312.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2025 = pd.read_csv('data/ss_2025_7H_Consol.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196448 entries, 0 to 196447
Data columns (total 16 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Stay Year Calendar              196448 non-null  int64
 1   Stay YYYYMM                     196448 non-null  int64
 2   Stay DOW Text                   196448 non-null  object
 3   Stay Date                       196448 non-null  object
 4   Booking Date                    196448 non-null  object
 5   MARSHA Code                     196448 non-null  object
 6   Market Category                 196448 non-null  object
 7   Market Segment Name for Report  196448 non-null  object
 8   Market Prfx Name for Report     196448 non-null  object
 9   Rate Program Code               196448 non-null  object
 10  Rate Program Name               191436 non-null  object
 11  Channel Aggregate Name          196448 non-null  object
 12  Room Pool Code                  196448 non-null  object
 13  RoomNights                      196448 non-null  int64
 14  ADR (Net)                       196448 non-null  object
 15   Revenue (Net)                  196448 non-null  object
dtypes: int64(3), object(13)
memory usage: 24.0+ MB

(196448, 16)

In [8]:
df_2024 = pd.read_csv('data/ss_2024_7H_Consol.csv')
df_2024.head()
df_2024.info()
df_2024.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228640 entries, 0 to 228639
Data columns (total 14 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Stay Year Calendar              228640 non-null  int64
 1   Stay YYYYMM                     228640 non-null  int64
 2   Stay DOW Text                   228640 non-null  object
 3   Stay Date                       228640 non-null  object
 4   MARSHA Code                     228640 non-null  object
 5   Market Category                 228640 non-null  object
 6   Market Segment Name for Report  228640 non-null  object
 7   Market Prfx Name for Report     228491 non-null  object
 8   Rate Program Code               228640 non-null  object
 9   Rate Program Name               218276 non-null  object
 10  Room Pool Code                  228640 non-null  object
 11  RoomNights                      228640 non-null  int64
 12  ADR (Net)                       228640 non-null  object
 13  Revenue (Net)                   228640 non-null  object
dtypes: int64(3), object(11)
memory usage: 24.4+ MB

(228640, 14)

In [12]:
df_2023 = pd.read_csv('data/ss_2023_7H_Consol.csv')
df_2023.head()
df_2023.info()
df_2023.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202289 entries, 0 to 202288
Data columns (total 14 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Stay Year Calendar              202289 non-null  int64
 1   Stay YYYYMM                     202289 non-null  int64
 2   Stay DOW Text                   202289 non-null  object
 3   Stay Date                       202289 non-null  object
 4   MARSHA Code                     202289 non-null  object
 5   Market Category                 202289 non-null  object
 6   Market Segment Name for Report  202289 non-null  object
 7   Market Prfx Name for Report     202270 non-null  object
 8   Rate Program Code               202289 non-null  object
 9   Rate Program Name               194307 non-null  object
 10  Room Pool Code                  202289 non-null  object
 11  RoomNights                      202289 non-null  int64
 12  ADR (Net)                       202289 non-null  object
 13  Revenue (Net)                   202289 non-null  object
dtypes: int64(3), object(11)
memory usage: 21.6+ MB

/tmp/ipython-input-12-744960569.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv('data/ss_2023_7H_Consol.csv')

(202289, 14)

In [13]:
# prompt: find number of rows with na data in df_2025, df_2024 and in df_2023

print("Number of rows with NA in df_2025:", df_2025.isnull().any(axis=1).sum())
print("Number of rows with NA in df_2024:", df_2024.isnull().any(axis=1).sum())
print("Number of rows with NA in df_2023:", df_2023.isnull().any(axis=1).sum())

Number of rows with NA in df_2025: 5012
Number of rows with NA in df_2024: 10364
Number of rows with NA in df_2023: 7982

In [14]:
# prompt: find number of rows with na data by column in df_2025, df_2024 and in df_2023

print("\nNumber of rows with NA per column in df_2025:")
print(df_2025.isnull().sum())

print("\nNumber of rows with NA per column in df_2024:")
print(df_2024.isnull().sum())

print("\nNumber of rows with NA per column in df_2023:")
print(df_2023.isnull().sum())

Number of rows with NA per column in df_2025:
Stay Year Calendar                   0
Stay YYYYMM                          0
Stay DOW Text                        0
Stay Date                            0
Booking Date                         0
MARSHA Code                          0
Market Category                      0
Market Segment Name for Report       0
Market Prfx Name for Report          0
Rate Program Code                    0
Rate Program Name                 5012
Channel Aggregate Name               0
Room Pool Code                       0
RoomNights                           0
ADR (Net)                            0
 Revenue (Net)                       0
dtype: int64

Number of rows with NA per column in df_2024:
Stay Year Calendar                    0
Stay YYYYMM                           0
Stay DOW Text                         0
Stay Date                             0
MARSHA Code                           0
Market Category                       0
Market Segment Name for Report        0
Market Prfx Name for Report         149
Rate Program Code                     0
Rate Program Name                 10364
Room Pool Code                        0
RoomNights                            0
ADR (Net)                             0
Revenue (Net)                         0
dtype: int64

Number of rows with NA per column in df_2023:
Stay Year Calendar                   0
Stay YYYYMM                          0
Stay DOW Text                        0
Stay Date                            0
MARSHA Code                          0
Market Category                      0
Market Segment Name for Report       0
Market Prfx Name for Report         19
Rate Program Code                    0
Rate Program Name                 7982
Room Pool Code                       0
RoomNights                           0
ADR (Net)                            0
Revenue (Net)                        0
dtype: int64

In [15]:
# prompt: find number of unique values in column "Rate Program Name" and "Market Prfx Name for Report" in df_2025, df_2024, and df_2023

print("\nUnique values in 'Rate Program Name' and 'Market Prfx Name for Report' in df_2025:")
print("Rate Program Name:", df_2025['Rate Program Name'].nunique())
print("Market Prfx Name for Report:", df_2025['Market Prfx Name for Report'].nunique())

print("\nUnique values in 'Rate Program Name' and 'Market Prfx Name for Report' in df_2024:")
print("Rate Program Name:", df_2024['Rate Program Name'].nunique())
print("Market Prfx Name for Report:", df_2024['Market Prfx Name for Report'].nunique())

print("\nUnique values in 'Rate Program Name' and 'Market Prfx Name for Report' in df_2023:")
print("Rate Program Name:", df_2023['Rate Program Name'].nunique())
print("Market Prfx Name for Report:", df_2023['Market Prfx Name for Report'].nunique())

Unique values in 'Rate Program Name' and 'Market Prfx Name for Report' in df_2025:
Rate Program Name: 474
Market Prfx Name for Report: 266

Unique values in 'Rate Program Name' and 'Market Prfx Name for Report' in df_2024:
Rate Program Name: 582
Market Prfx Name for Report: 629

Unique values in 'Rate Program Name' and 'Market Prfx Name for Report' in df_2023:
Rate Program Name: 589
Market Prfx Name for Report: 581

In [19]:
# prompt: Show top 10 frequency of "Rate Program Name" values and percentage of frequency in df_2025, df_2024, and df_2023

def analyze_rate_program_frequency(df, year):
  """Shows the top 10 frequency and percentage of 'Rate Program Name' values."""
  print(f"\nTop 10 'Rate Program Name' frequency for {year}:")
  top_10 = df['Rate Program Name'].value_counts().head(10)
  total_count = df['Rate Program Name'].count()
  top_10_percent = (top_10 / total_count) * 100
  frequency_df = pd.DataFrame({'Count': top_10, 'Percentage': top_10_percent})
  print(frequency_df)

analyze_rate_program_frequency(df_2025, 2025)
analyze_rate_program_frequency(df_2024, 2024)
analyze_rate_program_frequency(df_2023, 2023)

Top 10 'Rate Program Name' frequency for 2025:
                        Count  Percentage
Rate Program Name
MEMBER RETAIL RATE      35075   18.322050
B.COM RETAIL            18958    9.903049
REDEMPTION              13430    7.015399
MEMBR PREPAY NONREF     11077    5.786268
REGULAR RATE             9996    5.221588
LONG TERM STAY           7441    3.886939
BK.COM PRE NONREF CHG    7421    3.876491
EXPEDIA PRE NONREF CHG   6281    3.280992
B.COM DISC. RETAIL       5604    2.927349
PROPERTY PROMO           4682    2.445726

Top 10 'Rate Program Name' frequency for 2024:
                        Count  Percentage
Rate Program Name
MEMBER RETAIL RATE      19186    8.789789
REGULAR RATE            13290    6.088622
MEMBR PREPAY NONREF     10506    4.813172
B.COM RETAIL            10224    4.683978
REDEMPTION               9813    4.495684
EXPEDIA PRE NONREF CHG   6878    3.151056
LONG TERM STAY           5906    2.705749
BK.COM PRE NONREF CHG    5601    2.566017
PROPERTY PROMO           5265    2.412084
MARRIOTT SENIOR DISC.    4909    2.248988

Top 10 'Rate Program Name' frequency for 2023:
                        Count  Percentage
Rate Program Name
MEMBER RETAIL RATE      13470    6.932329
REGULAR RATE            12997    6.688900
B.COM RETAIL            10754    5.534541
REDEMPTION STANDARD     10311    5.306551
MEMBR PREPAY NONREF     10238    5.268982
BK.COM PRE NONREF CHG    5598    2.881008
MARRIOTT SENIOR DISC.    5447    2.803296
EXPEDIA PRE NONREF CHG   5086    2.617507
AAA AMERICAN AUTO ASSN   4869    2.505828
GOVT/MILITARY            4629    2.382313

In [20]:
# prompt: Convert all NA values in "Rate Program Name" to "UNKNOWN" in df_2025, df_2024, and df_2023

df_2025['Rate Program Name'] = df_2025['Rate Program Name'].fillna('UNKNOWN')
df_2024['Rate Program Name'] = df_2024['Rate Program Name'].fillna('UNKNOWN')
df_2023['Rate Program Name'] = df_2023['Rate Program Name'].fillna('UNKNOWN')